#background-video {
	position: absolute;
	top: 0px;
	left: -100px;
}

#mobile-video {
	position: absolute;
	top: 90px;
	left: 380px;
}

@media (max-width: 400px) {
	#background-video {
		width: 50%;
		height: 50%;
	}
}
