@import url('https://fonts.googleapis.com/css?family=Nunito+Sans&display=swap'rel='stylesheet');

.videoContainer {
	padding: 0px;
	margin: 10px;
}

.header {
	text-align: left;
	font-family: 'Nunito Sans', sans-serif;
	font-size: 18px;
	line-height: 25px;
	display: flex;
	align-items: flex-end;
	letter-spacing: -0.016em;
	color: #80848f;
	margin: 0px;
	padding: 5px;
}

.row {
	display: flex;
	flex-wrap: wrap;
}

.side {
	flex: 70%;
	padding: 0px;
	margin: 0px;
}

.footer {
	padding: 10px;
	text-align: center;
}

.btnSelector {
	position: absolute;
	bottom: -50px;
	left: 400px;
	border-radius: 4px;
	font-family: Avenir;
	font-style: normal;
	font-weight: 900;
	font-size: 13px;
	line-height: 18px;
	display: flex;
	align-items: flex-end;
	text-align: center;
	letter-spacing: -0.006em;
}
