.introCard {
	width: 220px;
	height: 200px;
	margin: 0 0 30 0px;
}

#textCard {
	position: relative;
	top: 150px;
	left: 40px;
	font-family: Avenir;
	font-style: normal;
	font-weight: normal;
	font-size: 9px;
	line-height: 12px;
	color: #80848f;
	padding: 20px;
}

li {
	list-style: none;
}
